.DS_Store

# Root
/*
!/README.md
!/config
!/world
!/mods

# Config folder
/config/*
!/config/additional-additions-config.json
!/config/create-client.toml
!/config/flytre_lib.json5
!/config/quark-common.toml
!/config/toughasnails

# Worlds/Datapacks folder
/world/*
!/world/datapacks

# Scripts
!/scripts
