.DS_Store

# Root
/*
!/README.md
!/config
!/world
!/mods

# Config folder
/config/*
!/config/quark-common.toml
!/config/flytre_lib.json5

# Worlds/Datapacks folder
/world/*
!/world/datapacks

# Scripts
!/scripts
